*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background-color: #96bdc6;
}
.container{
    background-color: #9f9d9d;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.6);
    margin: 20px auto;
    margin-top: 200px;
    border-radius: 5px;
}
#h{
    color:rgb(0, 242, 255);
}
form{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
::placeholder{
    color:black;
}
form input[type="text"]{
    padding: 10px;
    font-size: 18px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
}
form input[type="submit"]{
    padding: 10px 20px;
    border: none;
    background-color: rgb(13, 0, 255);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
form input[type="submit"]:hover{
    background-color: rgb(255, 0, 0);
}
.icon img{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 20px;
}
.temp{
    font-size: 40px;
    font-weight: 1000;
    margin-top: 10px;
}
.desc{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.details>div{
    font-size: 18px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    min-height: 40px;
    text-align: center;
    align-items: center;
    flex: 1;
}